#################

dash==1.19.0
gunicorn==20.1.0
matplotlib==3.3.4 
networkx==2.5 
numpy
ipywidgets==7.6.3
pandas==1.2.2
pandas-datareader==0.9.0
plotly==4.14.3
scipy==1.6.1
seaborn==0.11.1
flask
dash_bootstrap_components==0.12.0
bs4==0.0.1
folium==0.12.1
geopy==2.1.0
requests==2.25.1
scikit-learn==0.24.2
gunicorn==20.1.0